<template>
    
<b-container-fluid id="app">
    
       
    <b-row>
      <b-col>
          
        <b-navbar class="bar"
            toggleable="md"
            type="dark"
            variant="info">
            
            <b-navbar-nav>
                <b-nav-item><router-link to="/secure" v-on:click.native="loadAll()" replace>Home</router-link> </b-nav-item>
                <b-nav-item><b-link to="/secure"  v-on:click.native="display('Beverages')" replace >Beverages</b-link></b-nav-item>
                <b-nav-item><router-link to="/secure" v-on:click.native="display('Snacks')" replace>Snacks</router-link> </b-nav-item>
                

            </b-navbar-nav>
            <b-navbar-nav class="ml-auto">
                <b-nav-form>
                    <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
                    <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
                </b-nav-form>
                <b-nav-item-dropdown right>
                <!-- Using 'button-content' slot -->
                    <template slot="button-content"><em>User</em></template>
                    <b-dropdown-item href="#">Profile</b-dropdown-item>
                    <b-dropdown-item v-on:click="showOrders()" replace>Orders</b-dropdown-item>
                    <b-dropdown-item v-on:click="logout()" replace>Sign Out</b-dropdown-item>
                    
                </b-nav-item-dropdown>
                <b-nav-item><router-link :to="{ name: 'cart' }">Cart</router-link> </b-nav-item>

                
            </b-navbar-nav>
        </b-navbar>
      </b-col>
    </b-row>

    
        
        <br/>
        
        <b-form-group label="Sort by">
        <b-form-checkbox-group
            v-model="selected"
            :options="options"
            switches 
        ></b-form-checkbox-group>
        </b-form-group>
        
   
     
      
        <div>
        
        
        <div id="app" class="columns">
            <div class="column">
            <itemComponent v-for="(item, index) in products" :key="index" :product="item"/>    
            
            </div>
            <div class="container">
                <h2>Tabs</h2>
                <p>The .nav-stacked class is used to create vertical navigation pills:</p>                  
                <ul class="nav  nav-stacked" role="tablist">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">HTML</a></li>
                    <li><a href="#">CSS</a></li>
                    <li><a href="#">About</a></li>        
                </ul>
            </div>

    
        </div>
        
</div>
      
    
    
   

</b-container-fluid>
</template>


<script>
    import axios from "axios";
    import itemComponent from '@/components/Item.vue';
    //import navbar from '@/components/Navbar.vue';
    export default {
        name: 'Secure',
        components: {
            itemComponent,
            //navbar
        },
        data() {
            return {
                products : [],
                curr_category: "Beverages",
                uname: this.$localStorage.get('username'),
                selected: [], 
                options: [
                { text: 'Price', value: 'price' },
                { text: 'Popularity', value: 'popularity' }
               ]
                
            }
        },
        props: {
           
        },
        async mounted() {
            this.uname = this.$localStorage.get('username');
        

            await axios({ method: "GET", "url": "http://localhost:4910/api/products" }).then(result => {
                this.products = result.data;
            }, error => {
                console.error(error);
            });
            
        },
        methods: {
            async display(category){
                this.curr_category = category;
                await axios({ method: "GET", "url": "http://localhost:4910/api/prodbycat", params: {category: this.curr_category } }).then(result => {
                    this.products = result.data;
                }, error => {
                    console.error(error);
                });
                 
            },
            async loadAll(){
              await axios({ method: "GET", "url": "http://localhost:4910/api/products" }).then(result => {
                this.products = result.data;
            }, error => {
                console.error(error);
            });
                
            },
            async showOrders(){
              
                this.$router.push({ name: "orders" });
            },
            async logout() {
                this.$localStorage.set('auth',false);
                this.$localStorage.set('username',"");
                this.$router.replace({ name: "login" });
            }
        }
    }
     
</script>

<style scoped>
   

</style>