<template>
  <div class="chkout">
    <h4>Enter delivery details</h4>
    <br/>
    <b-form @submit="onSubmit" @reset="onReset" v-if="show">
        <b-form-group
        id="input-group-1"
        label=""
        label-for="input-1"
       
        >
        <b-form-input
          id="input-1"
          v-model="form.name"
          required
          placeholder="Enter your name"
        ></b-form-input>
        <br/>
      
        <b-form-input
          id="input-2"
          v-model="form.mobile"
          required
          placeholder="Enter your mobile"
        ></b-form-input>
        <br/>
        <b-form-input
          id="input-3"
          v-model="form.email"
          required
          placeholder="Enter your e-mail"
        ></b-form-input>
        <br/>

        <b-form-textarea
        id="textarea"
        v-model="form.address"
        placeholder="Enter your address"
        rows="3"
        max-rows="6"
        required
        ></b-form-textarea>



        </b-form-group>

      

      
      

      <b-button type="submit" variant="primary">Submit</b-button>
      
    </b-form>
    <b-card class="mt-3" header="Delivery Information">
      <pre class="m-0">
      {{ form.name }}<br/>
      {{ form.mobile }}<br/>
      {{ form.email }}<br/>
      {{ form.address }}<br/>

      </pre>
      
    </b-card>
  </div>

  

    
    
</template>

<script>
  import axios from "axios";

  export default {
    name: 'checkout',
    components: {
      
    },
    props:  {
      

    },
    data() {
      return {
        form: {
          address: '',
          name: '',
          mobile: '',
          email: '',
          
          
        },
        uname: this.$localStorage.get('username'),
        show: true,
        today_date: ""
      }
    },
    mounted() {
      this.uname = this.$localStorage.get('username');
      var today = new Date();
      this.today_date = today.getDate() +'-' + (today.getMonth()+1) +'-'+ today.getFullYear();
    },
    methods: {
      async onSubmit(evt) {
        evt.preventDefault();
        

        await axios({ method: "POST", "url": "http://localhost:4910/api/order", "headers": { "content-type": "application/json" } ,data: {username: this.uname, uname: this.form.name, umobile: this.form.mobile, uemail: this.form.email, uaddress: this.form.address}} ).then(result => {
                this.products = result.data;
            }, error => {
                console.error(error);
            });
            this.$router.replace({ name: "secure" });
        
      },
      onReset(evt) {
            evt.preventDefault()
            // Reset our form values
            this.form.email = ''
            this.form.name = ''
            this.form.food = null
            this.form.checked = []
            // Trick to reset/clear native browser form validation state
            this.show = false
            this.$nextTick(() => {
            this.show = true
            })
      },
      async logout() {
                this.$localStorage.set('auth',false);
                this.$localStorage.set('username',"");
                this.$localStorage.set('category',"");
                this.$router.replace({ name: "login" });
            }
    }
    
}   

</script>
<style scoped>
  body {
        
        primary: #04386f; 
    }
    .btn-primary {
    color: #fff;
    background-color: #04386f;
    border-color: black;
}
.chkout{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  
}
.card{
  background-color: 
}
</style>