<template>
    <div id="login">
        <p class="h4 text-center mb-4">Log in</p>
            <label for="defaultFormLoginEmailEx" class="grey-text">Username</label>
            <input type="text" name="username" v-model="input.username" placeholder="Username" class="form-control" required/>
            <br/>
            <label for="defaultFormLoginPasswordEx" class="grey-text">Password</label>
            <input type="password" name="password" v-model="input.password" placeholder="Password" class="form-control"/>
            <br/>
             <b-alert v-model="showDismissibleAlert" variant="warning" dismissible>
              Username or password is incorrect
             
           </b-alert>
            
            <div class="text-center mt-4">
                <b-button variant="primary" v-on:click="login()">Login</b-button>
           
            </div>
           
            
      
    </div>
</template>

<script>
    import axios from "axios";
    export default {
        name: 'Login',
        data() {
            return {
                input: {
                    username: "",
                    password: ""
                },
                 showDismissibleAlert: false,
                 hello: ""
            }
        },
        async mounted() {
            
        },

        methods: {
            async login() {
                var auth = 3;
                if(this.input.username != "" && this.input.password != "") {
                     await axios({ method: "POST", "url": "http://localhost:4910/api/auth", "headers": { "content-type": "application/json" },"data":this.input }).then(result => {
                         auth = result.data;
                         console.log(auth);
                     }, error => {
                         console.error(error);
                     });
                   
                
                    if(auth==1) {
                        //this.$emit("authenticated", true);
                        this.$localStorage.set('auth',true);
                        this.$localStorage.set('username',this.input.username);
                        this.$localStorage.set('category',"");
                        this.$router.push({ name: "secure"});
                        this.$router.push({ name: "secure"});
                        this.hello = document.cookie;
                    } else {
                        this.showDismissibleAlert=true;
                        console.log("The username and / or password is incorrect");
                    }
                } else {
                    console.log("A username and password must be present" + auth );
                    
                }
            }
        }
    }
</script>

<style scoped>
    #login {
        width: 500px;
        border: 1px solid #CCCCCC;
        background-color: #FFFFFF;
        margin: auto;
        margin-top: 200px;
        padding: 20px;
    }
</style>