<template>

  <div>
    
      <b-navbar class="bar"
            toggleable="md"
            type="dark"
            variant="info">
            
            <b-navbar-nav>
                <b-nav-item><router-link tag="li" to="#" v-on:click.native="loadAll()" replace>Home</router-link> </b-nav-item>
                <b-nav-item><router-link tag="li" to="#" v-on:click.native="display('Beverages')" replace>Beverages</router-link></b-nav-item>
                <b-nav-item><router-link tag="li" to="#" v-on:click.native="display('Snacks')" replace>Snacks</router-link> </b-nav-item>
                <b-nav-item><router-link tag="li" to="#" v-on:click.native="display('Beauty')" replace>Beauty</router-link> </b-nav-item>
                <b-nav-item><router-link tag="li" to="#" v-on:click.native="display('Grocery')" replace>Grocery</router-link> </b-nav-item>
                

            </b-navbar-nav>
            <b-navbar-nav class="ml-auto">
                <b-nav-form>
                    <b-form-input size="sm" class="mr-sm-2" placeholder="Search" v-model="search_key"></b-form-input>
                    <b-button size="sm" class="my-2 my-sm-0" v-on:click="search()">Search</b-button>
                </b-nav-form>
                <b-nav-item-dropdown right>
                <!-- Using 'button-content' slot -->
                    <template slot="button-content"><em>User</em></template>
                   <!-- <b-dropdown-item href="#">Profile</b-dropdown-item> -->
                    <b-dropdown-item v-on:click="showOrders()" replace>Orders</b-dropdown-item>
                    <b-dropdown-item  v-on:click="logout()" replace>Sign Out</b-dropdown-item>
                </b-nav-item-dropdown>
                <b-nav-item to="/cart">Cart</b-nav-item>

                
            </b-navbar-nav>
        </b-navbar>
        <div id = "app">
        <h3> Your Orders</h3>
        <orderItemComponent v-for="(item, index) in products" :key="index" :product="item"/> 
        <div class="container" v-if="!items">
         <br/> <br/> <br/>
        <b-alert show>You have no order history</b-alert>
        </div>
        </div>

  </div>
    
</template>

<script>
  import axios from "axios";
  import orderItemComponent from '@/components/OrderItem.vue';

  export default {
    name: 'orders',
    components: {
      orderItemComponent
    },
   
    data() {
      return {
        
        uname: this.$localStorage.get('username'),
        products: [],
        search_key: "",
        items: false
        
      }
    },
    async mounted() {
      this.uname = this.$localStorage.get('username');
            await axios({ method: "GET", "url": "http://localhost:4910/api/order", params: {username: this.uname}}).then(result => {
                this.products = result.data;
                if(this.products.length>0){
                    this.items= true;
                }
                else{
                    this.items = false;
                }
            }, error => {
                console.error(error);
            });
    },
    methods: {
      async loadAll(){
                this.$localStorage.set('category',"");
                this.$router.replace({ name: "secure" });
                
                 
            },
            async display(category){
                this.$localStorage.set('category',category);
                this.$router.replace({ name: "secure" });
                
                 
            },
            async search(){
               this.$localStorage.set('category',"search");
               this.$localStorage.set('search_key',this.search_key);
               this.$router.replace({ name: "secure" });
               
            },
            async logout() {
                this.$localStorage.set('auth',false);
                this.$localStorage.set('username',"");
                this.$localStorage.set('category',"");
                this.$router.replace({ name: "login" });
            }
    }
    
}   

</script>
<style scoped>
body {
        padding-top : 2%;
        padding-left: 5%;
        padding-right: 5%;
    }
    li{
        color: rgb(248, 248, 248)
    }
    .bg-info {
    background-color:#042a54 !important;
  }
  .btn-secondary{
      color:black;
      background-color: #e2ad0c;
  }
  .alert-info {
    color: #03080c;
    background-color: #1265bd3d;
    border-color: #eaf0f1;
}
  
  #app
{
    padding: 2%;
    padding-left: 5%;
}
</style>