<template>
    
<b-container-fluid id="app">
    
       
    <b-row>
      <b-col>
         
        <b-navbar class="bar"
            toggleable="md"
            type="dark"
            variant="info">
            
            <b-navbar-nav>
                <b-nav-item><router-link tag="li" to="/secure" v-on:click.native="loadAll()" replace>Home</router-link> </b-nav-item>
                <b-nav-item><router-link tag="li" to="/secure" v-on:click.native="display('Beverages')" replace>Beverages</router-link></b-nav-item>
                <b-nav-item><router-link tag="li" to="/secure" v-on:click.native="display('Snacks')" replace>Snacks</router-link> </b-nav-item>
                <b-nav-item><router-link tag="li" to="/secure" v-on:click.native="display('Beauty')" replace>Beauty</router-link> </b-nav-item>
                <b-nav-item><router-link tag="li" to="/secure" v-on:click.native="display('Grocery')" replace>Grocery</router-link> </b-nav-item>
                

            </b-navbar-nav>
            <b-navbar-nav class="ml-auto">
                <b-nav-form>
                    <b-form-input size="sm" class="mr-sm-2" placeholder="Search" v-model="search_key"></b-form-input>
                    <b-button size="sm" class="my-2 my-sm-0" v-on:click="search()">Search</b-button>
                </b-nav-form>
                <b-nav-item-dropdown right>
                <!-- Using 'button-content' slot -->
                    <template slot="button-content"><em>User</em></template>
                  <!--  <b-dropdown-item href="#">Profile</b-dropdown-item> -->
                    <b-dropdown-item v-on:click="showOrders()" replace>Orders</b-dropdown-item>
                    <b-dropdown-item v-on:click="logout()" replace>Sign Out</b-dropdown-item>
                    
                </b-nav-item-dropdown>
                <b-nav-item><router-link tag="li" :to="{ name: 'cart' }">Cart</router-link> </b-nav-item>

                
            </b-navbar-nav>
        </b-navbar>
      </b-col>
    </b-row>

    
        
        <br/>
        
     <!--   <b-form-group label="Sort by">
        <b-form-checkbox-group
            v-model="selected"
            :options="options"
             
        ></b-form-checkbox-group>
        </b-form-group>
        <button type="button" class="btn btn-primary">Apply</button>

        -->
        
        
   
     
      
        <div>
        
        
        <div id="app" class="columns">
            <div class="column">
            <itemComponent v-for="(item, index) in products" :key="index" :product="item"/>    
            
            </div>
            

    
        </div>
        
</div>
      
    
    
   

</b-container-fluid>
</template>


<script>
    import axios from "axios";
    import itemComponent from '@/components/Item.vue';
    //import navbar from '@/components/Navbar.vue';
    export default {
        name: 'Secure',
        components: {
            itemComponent,
            //navbar
        },
        data() {
            return {
                products : [],
                curr_category: "Beverages",
                uname: this.$localStorage.get('username'),
                selected: [], 
                search_key: "",
                options: [
                { text: 'Price', value: 'price' },
                { text: 'Popularity', value: 'popularity' }
               ]
                
            }
        },
        props: {
           
        },
        async mounted() {
            this.uname = this.$localStorage.get('username');
            
        
            
                let cat = this.$localStorage.get('category',"");
                if(cat.length > 0 )
                {
                    if(cat != "search")
                        this.display(cat);
                    else{
                        this.search_key = this.$localStorage.get('search_key',"");
                        this.search();
                    }
                }
                //this.$router.replace({ name: "secure" });
                else{
                    await axios({ method: "GET", "url": "http://localhost:4910/api/products" }).then(result => {
                        this.products = result.data;
                    }, error => {
                        console.error(error);
                    });
                }
                 
        
            
            
        },
        methods: {
            async display(category){
                this.curr_category = category;
                await axios({ method: "GET", "url": "http://localhost:4910/api/products", params: {category: this.curr_category } }).then(result => {
                    this.products = result.data;
                }, error => {
                    console.error(error);
                });
                 
            },
            async loadAll(){
              await axios({ method: "GET", "url": "http://localhost:4910/api/products" }).then(result => {
                this.products = result.data;
            }, error => {
                console.error(error);
            });
                
            },
            async showOrders(){
              
                this.$router.push({ name: "orders" });
            },
            async search(){
               this.$localStorage.set('category',"search");
               this.$localStorage.set('search_key',this.search_key);
               await axios({ method: "GET", "url": "http://localhost:4910/api/search", params: {key: this.search_key } }).then(result => {
                this.products = result.data;
            }, error => {
                console.error(error);
            });
                
            },
            async logout() {
                this.$localStorage.set('auth',false);
                this.$localStorage.set('username',"");
                this.$router.replace({ name: "login" });
            }
        }
    }
     
</script>

<style scoped>
   
body {
        padding-top : 2%;
        
        padding-right: 5%;
        primary: #04386f; 
    }
    li{
        color: rgb(248, 248, 248)
    }
.bg-info {
  background-color:#042a54 !important;
}
.btn-secondary{
    color:black;
    background-color: #e2ad0c;
}
.alert-info {
    color: #03080c;
    background-color: #1265bd3d;
    border-color: #eaf0f1;
}
.btn-primary {
    color: #fff;
    background-color: #04386f !important;
    border-color: black;
}
#app
{
    padding-left: 5%;
}

</style>