<template>
  

  <div>
    
    <div class="media">
      <div class="media-left">
        <img :src="image" class="media-object" style="width:230px">
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{product.prod_name}}</h4>
        <p>
          {{product.description}}
        
          
        </p>
        <div class="price">
          Rs. {{product.price}}
        </div>
        Quantity: {{product.quantity}}
        
        <br/><br/>

        <select v-model="quantity" >
          <option value=1 selected>1</option>
          <option value=2>2</option>
          <option value=3>3</option>
          <option value=4>4</option>
        </select>
        <br/><br/>
        <b-button  variant="secondary" v-on:click="updateQuantity()">Update</b-button>
        &nbsp; &nbsp; 
        <b-button  variant="secondary" v-on:click="deleteItem()">Delete</b-button>
        
        
        
      </div>

    </div>
    <hr>

  </div>

    
    
</template>

<script>
  import axios from "axios";

  export default {
    name: 'cartItemComponent',
    components: {
      
    },
    props:  {
      product : Object,
      

    },
    data() {
            return {
                quantity: 1,
                id: this.product.prod_id,
                uname: this.$localStorage.get('username'),
                msg: "",
                image: require(`../../public/assets/${this.$props.product.image_url}.jpg`)
              
            }
        },
    mounted() {
      this.uname = this.$localStorage.get('username');
    },
    methods: {
      async addToCart()
      {
        await axios({ method: "GET", "url": "http://localhost:4910/api/addtocart" , params: {cust:this.uname  , prod:this.id, quantity: this.quantity }}).then(result => {
                if(result.data){
                  //nothing
                }
            }, error => {
                console.error(error);
            });
      
      },
      async deleteItem()
      {
        await axios({ method: "GET", "url": "http://localhost:4910/api/deletefromcart" , params: {cust:this.uname  , prod:this.product.prod_id }}).then(result => {
                if(result.data){
                  //nothing
                }
            }, error => {
                console.error(error);
            });
        this.$router.go();
      
      },
      async updateQuantity()
      {
          this.msg = "hi";
        await axios({ method: "GET", "url": "http://localhost:4910/api/updatecart" , params: {cust:this.uname, prod:this.product.prod_id ,quantity: this.quantity}}).then(result => {
                if(result.data){
                  //nothing
                }
            }, error => {
                console.error(error);
            });
        this.$router.go();
      
      }
    }
}

</script>
<style scoped>
  .row{
    
  }
  
  .media-body{
    text-align: left;
    padding: 2%;
  }
  .price{
    color: rgb(177, 16, 31)
  }
  .alert-success {
    color: #04458a;
    background-color: #115fb34a;
    border-color: var(--white);
}
img {
    vertical-align: middle;
    border-style: groove;
    border-color: #82a5cc0a;
}
</style>