<template>
  

  <div>
   
    <div class="media">
      <div class="media-left">
        <img :src='require(`../../public/assets/${this.$props.product.image_url}.jpg`)' class="media-object" style="width:230px">
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{product.prod_name}}</h4>
        <p>
          {{product.description}}
          
        </p>
        <div class="price">
          Rs. {{product.price}}
        </div>
        
        <br/>
        <select v-model="quantity">
          <option value=1 selected>1</option>
          <option value=2>2</option>
          <option value=3>3</option>
          <option value=4>4</option>
        </select>
        
        
        &nbsp; &nbsp;
        
        <button type="button" class="btn btn-primary" v-on:click="addToCart()">Add to cart</button>
        <br/>
        <b-alert v-model="showDismissibleAlert" variant="success" dismissible>
          Added to cart.
        </b-alert>

        
      </div>

    </div>
    <hr>

  </div>

    
    
</template>

<script>
  import axios from "axios";

  export default {
    name: 'itemComponent',
    components: {
      
    },
    props:  {
      product : Object,
     

    },
    data() {
            return {
                quantity: 1,
                id: this.product.prod_id,
                uname: this.$localStorage.get('username'),
                image: require(`../../public/assets/${this.$props.product.image_url}.jpg`),
                showDismissibleAlert: false
            }
        },
    mounted() {
      this.uname = this.$localStorage.get('username');
    },
    methods: {
      async addToCart()
      {
        
        await axios({ method: "POST", "url": "http://localhost:4910/api/cart" ,"headers": { "content-type": "application/json" }, data: {cust:this.uname  , prod:this.product.prod_id, quantity: this.quantity }}).then(result => {
                if(result.data){
                  //nothing
                }
            }, error => {
                console.error(error);
            });
            this.showDismissibleAlert=true;
      }
    }
}

</script>
<style scoped>
  .row{
   
  }
  
  .media-body{
    text-align: left;
    padding: 2%;
  }
  .price{
    color: rgb(177, 16, 31)
  }
  .alert-success {
    color: #04458a;
    background-color: #115fb34a;
    border-color: var(--white);
}
img {
    vertical-align: middle;
    border-style: groove;
    border-color: #82a5cc0a;
}
.btn-primary {
    color: #fff;
    background-color: #04386f !important;
    border-color: black;
}
</style>