<template>
  <b-navbar
    toggleable="md"
    type="dark"
    variant="info">
    
    <b-navbar-nav>
      <b-nav-item><router-link to="#" v-on:click.native="display()" replace>Beverages</router-link></b-nav-item>
      <b-nav-item> <router-link to="#" v-on:click.native="display()" replace>Snacks</router-link></b-nav-item>
    </b-navbar-nav>
  </b-navbar>
</template>
<script>
export default {
  name: 'Navbar'
};
</script>