<template>
    <div id="app">
        <div id="nav">
            <router-link v-if="authenticated" to="/login" v-on:click.native="logout()" replace>Logout</router-link>
        </div>
        <router-view />
    </div>
</template>

<script>
   
    export default {
        name: 'App',
        data() {
            return {
                
                mockAccount: {
                    username: "nraboy",
                    password: "password"
                }
            }
        },
        async mounted() {
            
            let auth = this.$localStorage.get('auth',false);
             if(auth=="false" || !auth) {
                this.$router.replace({ name: "login" });
             }
        },
        methods: {
            
            async logout() {
                
                this.$localStorage.set('auth',false);
                this.$localStorage.set('username',"");
                this.$router.replace({ name: "login" });

            }
        }
    }
</script>

<style>
    body {
        background-color: #F0F0F0;
       
    }
    
</style>