<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

        body {
        background-color: #EEEEEE;
        font-family: 'Montserrat', sans-serif;
        display: grid;
        grid-template-rows: auto;
        justify-items: center;
        align-items: center;
        }
        body, html {
        margin: 0;
        height: 100%;
        }
        #app {
            width: 50%;
        }
       holder {
            background: #fff;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
        
        ul li {
            padding: 20px;
            font-size: 1.3em;
            background-color: #E0EDF4;
            border-left: 5px solid #3EB3F6;
            margin-bottom: 2px;
            color: #3E5252;
        }

        p {
            text-align:center;
            padding: 30px 0;
            color: gray;
        }

        .container {
            box-shadow: 0px 0px 40px lightgray;
        }
        input {
            width: calc(100% - 40px);
            border: 0;
            padding: 20px;
            font-size: 1.3em;
            background-color: #323333;
            color: #687F7F;
        }
    </style>
</head>
<body>
    <div id="app" class = "container">
        <div class = "holder">
            <form @submit.prevent = "addSkill()">
                <input type="text" placeholder="Enter a skill you have.." v-model="skill_new">
                {{ skill_new }}
                
            </form>
            <ul>
                <li v-for="(data,index) in skills">
                    {{data.skill}}

                </li>
                
            </ul>
        
        </div>
        
    </div>  
    
    <script>
        var app = new Vue({
            el :"#app",
            data: {
                skill_new: '',
                skills: [
                    {skill: "vue.js"},
                    
                ],
               
                
                
            },
            methods: {
                addSkill(){
                    this.skills.push({skill: this.skill_new})
                    this.skill_new="hello";
                    
                }
            }
        })
    </script>
    <div class="hello">
        <h3>{{ msg }}</h3>
        <p class="mb-2">The application is configured and ready to import our components. You will find MDB Vue docs <a href="https://mdbootstrap.com/vue/" target="_blank">here</a>.</p>
      </div>
    <HelloWorld/>
    
</body>
</html>